default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  username: postgres
  password: postgres
  host: localhost
development:
  <<: *default
  database: qna_development

test:
  <<: *default
  database: qna_test
